@model iWriter.ViewModels.ProjectTypeViewModels.ProjectTypeViewModel

@{
    ViewData["Title"] = "DeleteProjectType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Project Type</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StarQuality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StarQuality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysToDeliver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysToDeliver)
        </dd>
    </dl>
    
    <form asp-action="DeleteProjectType">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
