@model iWriter.ViewModels.ProjectTypeViewModels.ProjectTypeViewModel

@{
    ViewData["Title"] = "ProjectTypeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Project Type Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StarQuality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StarQuality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysToDeliver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysToDeliver)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditProjectType", new { id = Model.ProjectTypeId }) |
    <a asp-action="Index">Back to List</a>
</div>
